footer#Footer{
  margin-top: 9.8rem;
}

footer#Footer> p{
  text-align: center;
  font-size: 5rem;
  color: var(--text-color);
}

footer#Footer > div.Wrapper-of-Img-Coffe {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url(../images/blur-mobile.png);
   background-position: bottom;
   background-size: cover;
   row-gap: 7.3rem;
   background-repeat: no-repeat;
   background-position-y: 50%;
}

footer#Footer > div.Wrapper-of-Img-Coffe  > p{
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -0.03em;
}

footer#Footer  div.Wrapper-of-Img-Coffe > img{
  width: 43.8rem;
  background: transparent;
}
