/* HEADER MOBILE */
header.mobile-header > div.Content-Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.7rem  2.5rem 2.5rem 2.6rem;
  border-bottom: 1px solid var(--border);
}

header.mobile-header div.Content-Header > button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* ========== HEADER DESkTOP ==================== */ 
header.desktop-header > ul{
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  display: none;
}

header.desktop-header > ul a{
  text-decoration: none;
  color: var(--text-color);
}

header.desktop-header > ul a > li{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

header.desktop-header > ul a > li:hover{
  text-decoration: underline;
}


/* ========= MEDIA QUERIES HEADER DESKTOP ============ */
@media(min-width: 1024px) {
  .mobile-header {
    display: none;
  }

  header.desktop-header div.Content-Header-Desktop{
    padding: 5rem 0 0;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

  header.desktop-header div.Content-Header-Desktop{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header.desktop-header div.Content-Header-Desktop button:first-child {
    background: transparent;
    cursor: pointer;
    border: none;
  }

  header.desktop-header div.Content-Header-Desktop ul{
    display: flex;
    align-items: center;
    column-gap: 3.2rem;
  }

  header.desktop-header div.Content-Header-Desktop ul > a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  header.desktop-header div.Content-Header-Desktop ul > a:hover{
    text-decoration: underline;
  }

  header.desktop-header div.Content-Header-Desktop button:last-child{
    height: 3.7rem;
    width: 18rem;
    border-radius: 0.6rem;
    border: 2px solid var(--button);
    cursor: pointer;
    background: transparent;
    color: var(--text-color);
    outline: none;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    transition: ease-out 0.3s;    
  }
  header.desktop-header div.Content-Header-Desktop button:last-child:hover{
    background-color: var(--button);
    transform: scale(1.05);
  }
}



